

.board{
    background: grey;
    width: 50vw;
    height: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.board div{
    width: 11%;
    height: 11%;
    display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

div[possible="true"]{
    background: orange;
}

img{
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .board{
        width: 90vw;
        height: 90vw;
    }
    
}