

.board{
    width: 42vw;
    height: 42vw;
	margin-left: 1%;
	#margin-right: auto;
}

.board div{
    width: 12.5%;
    height: 12.5%;
    display: inline-block;
    
	margin-left: -1%;
	margin-top: -1%;
}

div[possible="true"]{
    background: orange;
}

img{
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .board{
        width: 90vw;
        height: 90vw;
    }
    
}